.your-tweet-container {
    background-color: $secondaryBackgroundColor;
    display: inline-block;
    width: 60%;
    margin: 2% 20% 5% 20%; 
    text-align: left;
    border: 1px $accentColor solid;
    padding: 45px;
}

img {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
}

.row-1 {
    display: flex;
}