footer {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
        & a {
            @include fontSpecs ($shadowsLight, 4rem, 400, $secondaryBackgroundColor);
        }
}

footer:hover,
footer:focus {
    background-color: $accentColor;
}