/* GLOBAL STYLES */

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    font-size: 1.6rem;
}


.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

body {
    background-image: url("./photo-1603145733316-7462e5ecd80d.jpeg");
    background-size: auto;;
}