.header-gen {
    background-color: $accentColor;
    display: inline-block;
    width: 60%;
    margin: 1% 20% 3% 20%; 
    text-align: center;
    border: 4px solid $primaryBackgroundColor;
    border-radius: 3%;
        & h2 {
            padding-bottom: 30px;
        }
            & label {
                padding: 10px;
            }
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.radio-1,
.radio-2,
.radio-3 {
    padding-left: 40%;
    padding-bottom: 30px;
}

.button-container {
    padding-bottom: 20px;
    margin-left: 30%;
        & input {
            padding: 5px;
            border-radius: 3%;
        }
}

a:hover,
a:focus,
input:hover,
input:focus,
label:hover,
label:focus {
    color: $primaryFontColor;
}

.gen-btn:hover,
.gen-btn:focus {
    color: $accentColor;
}

//Toggle Styles - I tried really hard to make a toggle, didn't work! Left the below code in purposefully for feedback. 
[type="radio"] {
    opacity: 0;
    position: absolute;
}

// i {
//     background-color: $primaryFontColor;
// }

// [type="radio"]:checked + .toggle-label::before {
//     background-color: orangered;
// }

// [type="radio"]:active + .fa-twitter::before,
// [type="radio"]:checked +  .fa-twitter:checked {
//     background-color: orangered;
// }


// .toggle-label {
//     padding-left: 100px;
//     position: relative;
// }

// .toggle-label::before {
//     color: yellowgreen;
// }
// // /* Styles for individual labels */
// // .toggle-label {
// //     padding-right: 110px;
// //     // margin: 15px 0;
// //     margin-right: 150px;
// //     position: relative;
// //     // line-height: 40px;
// // }
// // /* Make the toggle background */
// // .toggle-label::before {
// //     content: "";
// //     width: 100px;
// //     height: 40px;
// //     border-radius: 100px;
// //     position: absolute;
// //     right: 0;
// //     top: 0;
// //     background: $primaryFontColor;
// // }

// // /* Make the middle of the toggle switch */
// // .toggle-label::after {
// //     content: "";
// //     width: 30px;
// //     height: 30px;
// //     border-radius: 50%;
// //     background: yellowgreen;
// //     position: absolute;
// //     top: 5px;
// //     right: 65px;
    
// // }



// // /* Change the background color when the toggle is checked */
// [type="radio"]:checked + .toggle-label::before {
//     background: $primaryFontColor;
//     color: orangered;
// }
// /* Change the position of middle of toggle switch */
// [type="radio"]:checked + .toggle-label::after {
//     background: orange;
// }

// // /* Changes the background color of the toggle switch when focused (for accessibility) */
// // [type="radio"]:active + .toggle-label::before,
// // [type="radio"]:focus + .toggle-label::before {
// //     background: #EB6856;
// // }