.header-gen {
    background-color: $accentColor;
    color: $secondaryBackgroundColor;
    display: inline-block;
    width: 60%;
    // margin-left: 20%;
    // margin-right: 20%;
    // margin-top: 2%;
    // margin-bottom: 5%;
    margin: 1% 20% 3% 20%; 
    text-align: center;
    border: $secondaryFontColor;
    border-radius: 3%;
        & h2 {
            padding-bottom: 30px;
        }
            & label {
                padding: 10px;
            }
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.radio-1,
.radio-2,
.radio-3 {
    padding-left: 40%;
    padding-bottom: 30px;
}

.button-container {
    padding-bottom: 20px;
    margin-left: 30%;
        & input {
            padding: 5px;
            border-radius: 3%;
        }
}

a:hover,
a:focus,
input:hover,
input:focus,
label:hover,
label:focus {
    color: $primaryFontColor;
}

.gen-btn:hover,
.gen-btn:focus {
    color: $accentColor;
}