//Tried a new approach, styled as breaks occured rather than for specific widths, so that all widths would look good!
@media (max-width: 1366px) {
    .your-tweet-container {
        position: relative;
    }

    .follow-btn {
        border: 2px solid $accentColor;
        padding: 5px 17px;
        margin-left: 0px;
        position: absolute;
        left: 95px;
        bottom: 43px;
        font-size: 1.6rem;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    .radio-1,
    .radio-2,
    .radio-3 {
        padding-left: 35%;
    }

    .button-container {
        margin-left: 22%;
    }
}

@media (max-width: 768px) {
    .dynamic-tweet p {
        font-size: 1.6rem;
    }

    footer a {
        font-size: 2.5rem;
    }
}

@media (max-width: 652px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .radio-1,
    .radio-2,
    .radio-3 {
        font-size: 1.6;
    }
    .gen-btn{
        font-size: 1.8rem;
    }

    .your-tweet-container {
            box-shadow: 5px 5px 8px $primaryBackgroundColor;
    }
}

@media (max-width: 480px) {
    .radio-1,
    .radio-2,
    .radio-3 {
        padding-left: 25%;
    }
    .button-container {
        margin-left: 15%;
    }
    .row-1{
        flex-direction: column;
    }

    .handle {
        margin-left: 0;
    }
    .row-1 h3,
    .row-1 h4{
        font-size: 1.6rem;
    }

    .row-1 img {
        align-self: center;
        margin-bottom: 15px;
    }
}